<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("index","home")">
        <li class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-user-shield"></i>
        </li>
        <li class="sidebar-brand-text mx-3">Wali Amanat</li>
    </a>
    <!-- Divider -->
    <hr class="sidebar-divider my-0">
    <!-- Nav Item - Dashboard -->
    <!-- Divider -->
    <hr class="sidebar-divider">
    <!-- Heading -->
    
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","TransaksiLaporans")">
            <i class="fas fa-fw fa-keyboard"></i>
            <span>Input Data</span>
        </a>
    </li>
    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Master</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="@Url.Action("Index","Perusahaan")">Perusahaan</a>
                <a class="collapse-item" href="@Url.Action("Index","Perwakilan")">Perwakilan</a>
                <a class="collapse-item" href="@Url.Action("Index","HariLibur")">HariLibur</a>
            </div>
        </div>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">
    <!-- Heading -->
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>